.statistics {
  background-color: #f3f6f9;
  width: 400px;
  padding: 20px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.title {
  display: block;
  background-color: #fff;
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
}
.statList {
  display: flex;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  list-style-type: none;
  color: white;
  width: 80px;
  height: 80px;
}

.label {
  font-size: 16px;
  font-weight: 700;
}
.percentage {
  font-size: 28px;
}
